  ### 1. MinMax Scaling

 
  ### Installing Important Libraries

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
# elt's try withSample data
data = {'Dateframe': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df.head()

   Dateframe
0         10
1         20
2         30
3         40
4         50

#### Scaling of the Dateframe using MinMaxScalar function

In [7]:
scaler = MinMaxScaler()
df['Dateframe'] = scaler.fit_transform(df[['Dateframe']])
df.head()

   Dateframe
0       0.00
1       0.25
2       0.50
3       0.75
4       1.00

- It can be noticed how data has been scaled.

### 2. Z-Score Normalization OR Standard Scalar

In [9]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
# Sample data
data = {'Dataframe': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df.head()

   Dataframe
0         10
1         20
2         30
3         40
4         50

#### Scaling of the Dateframe using Standard Scalar Function.

In [14]:
scaler = StandardScaler()
df['Dataframe'] = scaler.fit_transform(df[['Dataframe']])
df.head()

      Dataframe
0 -1.414214e+00
1 -7.071068e-01
2  8.881784e-17
3  7.071068e-01
4  1.414214e+00

### 3. Robust Scalar

In [18]:
from sklearn.preprocessing import RobustScaler
# Sample data with outliers
data = {'Dataframe': [10, 20, 30, 1000, 50]}
df = pd.DataFrame(data)

#### 3. Scaling of the Dateframe using Robust Scaler Function.

In [21]:
# Robust Scaling
scaler = RobustScaler()
df['Dataframe'] = scaler.fit_transform(df[['Dataframe']])
print(df)

   Dataframe
0  -0.666667
1  -0.333333
2   0.000000
3  32.333333
4   0.666667

#### 4.Logrithmic scaling/ Normalization

In [34]:
import numpy as np
import pandas as pd

#random data with outliers
data = {'Dateframe': [10000, 20000, 30000, 1000000, 50000]}
df = pd.DataFrame(data)

####  Scaling of the Dateframe using Logrithmic Scaling/ Normalization

In [35]:
# Log Transform
df['Dateframe'] = np.log(df['Dateframe'])
df['Dateframe'] = np.log2(df['Dateframe'])
df['Dateframe'] = np.log10(df['Dateframe'])
df.head()

   Dateframe
0   0.505591
1   0.519557
2   0.527092
3   0.578435
4   0.536002

Let's Apply same method onto dataset downloaded by link :  https://www.bodytrack.ai/dataset

In [37]:
df2=pd.read_csv("retail_sales_dataset.csv")

In [51]:
df2.describe()

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

Let's Explore More about the numeric columns which are above in the describe Function

In [53]:
df2.nunique()

Transaction ID      1000
Date                 345
Customer ID         1000
Gender                 2
Age                   47
Product Category       3
Quantity               4
Price per Unit         5
Total Amount          18
dtype: int64

Two columns Age and Total amount is considered to scale asuming age can't be grater than 100, we choose Total amount for the observation.

In [60]:
df2['Total Amount'].nunique()

18

Let's apply min and max function

In [65]:
print(df2['Total Amount'].min())
print(df2['Total Amount'].max())

25
2000

This is again small values for scaling but let's do this for the practice

1. MinMax Scaling

In [69]:
data = {'df2': df2['Total Amount']}
df = pd.DataFrame(data)
scaler = MinMaxScaler()
df['df2'] = scaler.fit_transform(df[['df2']])
df.head()

        df2
0  0.063291
1  0.493671
2  0.002532
3  0.240506
4  0.037975

2. Standard Scalar or Z-score normalization

In [72]:

data = {'df2': df2['Total Amount']}
df = pd.DataFrame(data)
scaler = StandardScaler()
df['df2'] = scaler.fit_transform(df[['df2']])
df.head()

        df2
0 -0.546704
1  0.971919
2 -0.761098
3  0.078611
4 -0.636035

3. Robust Scaling

In [77]:
data = {'df2': df2['Total Amount']}
df = pd.DataFrame(data)
scaler = RobustScaler()
df['df2'] = scaler.fit_transform(df[['df2']])
df.head()

        df2
0  0.017857
1  1.029762
2 -0.125000
3  0.434524
4 -0.041667

In [83]:

data = {'df2': df2['Total Amount']}
df = pd.DataFrame(data)

df['df2'] = np.log(df['df2'])
df['df2'] = np.log2(df['df2'])
# df['df2'] = np.log10(df['df2'])
df.head()

        df2
0  2.324994
1  2.788217
2  1.766043
3  2.635663
4  2.203254